h1 {
  margin-top: 1.5em;
}

tr:nth-child(even) {
  background-color: #eee;
}

thead tr {
  background-color: teal;
  color: white;
}

thead th {
  text-align: left;
  padding: 6px 8px;
}
tbody td {
  text-align: left;
  padding: 8px;
}

button {
  &:disabled {
    pointer-events: none;
  }
}

i {
  color: #666;
  cursor: pointer;
  transition: color .5s ease, transform .5s ease;
  &:hover {
    color: #444;
  }
  &:active {
    transform: scale(.9);
  }

}
