<h1>Movies</h1>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th [style.width]="'175px'">Title</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of pagedMovies; let i = index;">
      <td>{{ row.id }}</td>
      <td [style.width]="'175px'">
        <a (click)="updateMovie.emit(row.id)">{{ row.title }}</a>
      </td>
      <td>{{ row.description }}</td>
      <td><i class="fa fas fa-trash" (click)="deleteRow(row?.id)"></i></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">
        <button
          [disabled]="currentPage <= 1"
          (click)="setPage(currentPage - 1)"
        ><</button>
        <button
          [disabled]="currentPage > movies?.length / pageSize - 1"
          (click)="setPage(currentPage + 1)"
        >></button>
        Showing {{ currentPageStart }}-{{ currentPageEnd }} of {{ movies?.length }}
      </td>
    </tr>
  </tfoot>
