<h3>Movies</h3>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of pagedMovies">
      <td>{{ row.id }}</td>
      <td>{{ row.title }}</td>
      <td>{{ row.description }}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">
        <button
        [disabled]="currentPage <= 1"
        (click)="setPage(currentPage - 1)"
        ><</button>
        <button
        [disabled]="currentPage > movies?.length / pageSize - 1"
        (click)="setPage(currentPage + 1)"
        >></button>
        Showing {{ currentPageStart }}-{{ currentPageEnd }} of {{ movies?.length }}
      </td>
    </tr>
  </tfoot>
